<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.AdminMapper">
  <resultMap id="StudentInfotMap" type="po.StudentInfo" >
    <result column="studentid" property="studentid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="classno" property="classno" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="TeacherInfotMap" type="po.TeacherInfo" >
    <result column="teacherid" property="teacherid" jdbcType="INTEGER" />
    <result column="teachername" property="teachername" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CourseInfoMap" type="po.CourseInfo" >
    <result column="courseid" property="courseid" jdbcType="INTEGER" />
    <result column="teacherid" property="teacherid" jdbcType="INTEGER" />
    <result column="teachername" property="teachername" jdbcType="VARCHAR" />
    <result column="courseplace" property="courseplace" jdbcType="VARCHAR" />
    <result column="weektime" property="weektime" jdbcType="VARCHAR" />
    <result column="coursename" property="coursename" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="jieci" property="jieci" jdbcType="VARCHAR" />
  </resultMap>
  
	<select id="studentinfo" resultType="po.StudentInfo">
		select * from studentinfo,classinfo
		where studentinfo.classno=classinfo.classno
		order by studentid
	</select>
	
	<select id="teacherinfo" resultType="po.TeacherInfo">
		select * from teacherinfo
	</select>
	
	<select id="courseinfo" resultType="po.CourseInfo">
		select courseid,teacherinfo.teacherid,teachername,courseplace,weektime,coursename,day,jieci
		from teacherinfo,courseinfo
		where teacherinfo.teacherid=courseinfo.teacherid
	</select>
	
	<select id="showstudent" resultType="po.StudentInfo">
		select * from studentinfo,classinfo
		where studentinfo.classno=classinfo.classno
		and studentid = #{studentid}
	</select>
	
	<select id="flag" resultType="java.lang.Integer">
		select count(1) 
		from classinfo 
		where classno = #{classno}
	</select>
	
	<update id="modifystudent">
		update studentinfo
		set name = #{name},gender=#{gender},email=#{email},phone=#{phone},classno=#{classno}
		where studentid = #{studentid}
	</update>
	
	<select id="studentexist" resultType="java.lang.Integer">
		select count(1) 
		from studentinfo
		where studentid=#{studentid}
	</select>
	
	<insert id="addstudent">
		insert into studentinfo
		values(#{studentid},#{name},#{email},#{phone},#{classno},#{gender})
	</insert>
	
	<!-- 
	<delete id="deletestudentcourse">
		delete from studentcourse
		where studentid=#{studentid}
	</delete>
	 -->
	 
	<delete id="deleteaccount">
		delete from accountinfo
		where accountid = #{studentid}
	</delete>
	
	<delete id="deletestudent">
		delete from studentinfo 
		where studentid=#{studentid}
	</delete>
	
	<select id="showteacher" resultType="po.TeacherInfo">
		select * from teacherinfo
		where teacherid=#{teacherid}
	</select>
	
	<update id="modifyteacher">
		update teacherinfo
		set teachername = #{teachername},gender=#{gender},email=#{email},phone=#{phone},department=#{department},address=#{address}
		where teacherid=#{teacherid}
	</update>
	
	<select id="teacherexist" resultType="java.lang.Integer">
		select count(1) 
		from teacherinfo
		where teacherid=#{teacherid}
	</select>
	
	<insert id="addteacher">
		insert into teacherinfo
		values(#{teacherid},#{teachername},#{email},#{phone},#{department},#{address},#{gender})
	</insert>
	
	<delete id="deleteteacher">
		delete from teacherinfo
		where teacherid=#{teacherid}
	</delete>
	
	<delete id="deleteteachercourse">
		delete from courseinfo
		where teacherid=#{teacherid}
	</delete>
	
	<select id="courseids" resultType="java.lang.Integer">
		select courseid from courseinfo
		where teacherid=#{teacherid}
	</select>
	
	<delete id="deletecourse">
		delete from courseinfo
		where courseid = #{courseid}
	</delete>
	
	<select id="showcourse" resultType="po.CourseInfo">
		select courseid,teacherinfo.teacherid,teachername,courseplace,weektime,coursename,day,jieci
		from teacherinfo,courseinfo
		where teacherinfo.teacherid=courseinfo.teacherid
		and courseid=#{courseid}
	</select>
	
	<select id="teachercourseexist" resultType="java.lang.Integer">
		select count(1)
		from courseinfo
		where courseid=#{courseid}
		and teacherid=#{teacherid}
	</select>
	
	<update id="modifycourse">
		update courseinfo
		set coursename = #{coursename},teacherid=#{teacherid},courseplace=#{courseplace},
			weektime=#{weektime},day=#{day},jieci=#{jieci}
		where courseid = #{courseid}
	</update>
	
	<select id="courseexist" resultType="java.lang.Integer">
		select count(1)
		from courseinfo
		where courseid=#{courseid}
	</select>
	
	<insert id="addcourse">
		insert into courseinfo
		values(#{courseid},#{teacherid},#{courseplace},#{weektime},#{coursename},#{day},#{jieci})
	</insert>
	<insert id="addaccount">
		insert into accountinfo
		values(#{accountid},#{password},#{flag})
	</insert>
	
</mapper>