<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.IdentifyMapper">

  
	<select id="identity" resultType="java.lang.String">
		select flag from accountinfo
		where accountid=#{accountid} and password=#{password}
	</select>
	
	<select id="getflag" resultType="java.lang.String">
		select flag from accountinfo
		where accountid=#{accountid}
	</select>
	
	<select id="accountexist" resultType="java.lang.Integer">
		select count(1)
		from accountinfo
		where accountid=#{accountid}
	</select>
	
	
	<update id="changepw">
		update accountinfo
		set password=#{newpw}
		where accountid=#{accountid}
	</update>
	
	<update id="resetpw">
	update accountinfo
		set password=
		<if test="'student'==flag">
		(select phone 
		from studentinfo
		where studentid=#{accountid}
		)
		</if>
		
		<if test="'teacher'==flag">
		(select phone 
		from studentinfo
		where studentid=#{accountid}
		)
		</if>
		
		<if test="'admin'==flag">
		(select phone 
		from studentinfo
		where studentid=#{accountid}
		)
		</if>
	where accountid=#{accountid}
	</update>
	
	
	
	

	
</mapper>